body {
  background-color: pink;
  text-decoration: underline;
}
header {
  background-color: aliceblue;
}

main > div > p > a {
  text-decoration: none;
}

main > div > p > a:hover {
  color: tomato;
  font-size: x-large;
}

footer {
  background-color: fuchsia;
}

nav ul {
    list-style: none;
    font font-family: "Times new roman";
}
